<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>109655855772-ev1m98ueuh9o2l0h59li7t3iu53gkbj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109655855772-ev1m98ueuh9o2l0h59li7t3iu53gkbj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDfzM4-0GE6JrtrEDp4qi70u3aXYyuHVE0</string>
	<key>GCM_SENDER_ID</key>
	<string>109655855772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LiChen.ChatMessage</string>
	<key>PROJECT_ID</key>
	<string>chatmessage-8a13a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmessage-8a13a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:109655855772:ios:1b5e12ea34a2b5e6</string>
	<key>DATABASE_URL</key>
	<string>https://chatmessage-8a13a.firebaseio.com</string>
</dict>
</plist>