<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nowLocal</key>
	<string>0</string>
	<key>100</key>
	<false/>
	<key>103</key>
	<false/>
	<key>104</key>
	<false/>
	<key>105</key>
	<false/>
	<key>106</key>
	<false/>
	<key>108</key>
	<false/>
	<key>110</key>
	<false/>
	<key>111</key>
	<false/>
	<key>112</key>
	<false/>
	<key>114</key>
	<false/>
	<key>115</key>
	<false/>
	<key>116</key>
	<false/>
	<key>200</key>
	<false/>
	<key>201</key>
	<false/>
	<key>202</key>
	<false/>
	<key>203</key>
	<false/>
	<key>204</key>
	<false/>
	<key>205</key>
	<false/>
	<key>206</key>
	<false/>
	<key>207</key>
	<false/>
	<key>208</key>
	<false/>
	<key>209</key>
	<false/>
	<key>210</key>
	<false/>
	<key>211</key>
	<false/>
	<key>212</key>
	<false/>
	<key>220</key>
	<false/>
	<key>221</key>
	<false/>
	<key>222</key>
	<false/>
	<key>223</key>
	<false/>
	<key>224</key>
	<false/>
	<key>226</key>
	<false/>
	<key>227</key>
	<false/>
	<key>228</key>
	<false/>
	<key>231</key>
	<false/>
	<key>232</key>
	<false/>
	<key>233</key>
	<false/>
	<key>234</key>
	<false/>
	<key>235</key>
	<false/>
	<key>236</key>
	<false/>
	<key>237</key>
	<false/>
	<key>238</key>
	<false/>
	<key>239</key>
	<false/>
	<key>241</key>
	<false/>
	<key>242</key>
	<false/>
	<key>243</key>
	<false/>
	<key>244</key>
	<false/>
	<key>247</key>
	<false/>
	<key>248</key>
	<false/>
	<key>249</key>
	<false/>
	<key>251</key>
	<false/>
	<key>252</key>
	<false/>
	<key>253</key>
	<false/>
	<key>260</key>
	<false/>
	<key>261</key>
	<false/>
	<key>262</key>
	<false/>
	<key>263</key>
	<false/>
	<key>264</key>
	<false/>
	<key>265</key>
	<false/>
	<key>266</key>
	<false/>
	<key>267</key>
	<false/>
	<key>268</key>
	<false/>
	<key>269</key>
	<false/>
	<key>270</key>
	<false/>
	<key>272</key>
	<false/>
	<key>300</key>
	<false/>
	<key>302</key>
	<false/>
	<key>303</key>
	<false/>
	<key>304</key>
	<false/>
	<key>305</key>
	<false/>
	<key>306</key>
	<false/>
	<key>307</key>
	<false/>
	<key>308</key>
	<false/>
	<key>310</key>
	<false/>
	<key>311</key>
	<false/>
	<key>312</key>
	<false/>
	<key>313</key>
	<false/>
	<key>314</key>
	<false/>
	<key>315</key>
	<false/>
	<key>320</key>
	<false/>
	<key>324</key>
	<false/>
	<key>325</key>
	<false/>
	<key>326</key>
	<false/>
	<key>327</key>
	<false/>
	<key>328</key>
	<false/>
	<key>330</key>
	<false/>
	<key>333</key>
	<false/>
	<key>334</key>
	<false/>
	<key>335</key>
	<false/>
	<key>336</key>
	<false/>
	<key>337</key>
	<false/>
	<key>338</key>
	<false/>
	<key>350</key>
	<false/>
	<key>351</key>
	<false/>
	<key>352</key>
	<false/>
	<key>353</key>
	<false/>
	<key>354</key>
	<false/>
	<key>356</key>
	<false/>
	<key>357</key>
	<false/>
	<key>358</key>
	<false/>
	<key>360</key>
	<false/>
	<key>361</key>
	<false/>
	<key>362</key>
	<false/>
	<key>363</key>
	<false/>
	<key>364</key>
	<false/>
	<key>365</key>
	<false/>
	<key>366</key>
	<false/>
	<key>367</key>
	<false/>
	<key>368</key>
	<false/>
	<key>369</key>
	<false/>
	<key>400</key>
	<false/>
	<key>401</key>
	<false/>
	<key>402</key>
	<false/>
	<key>403</key>
	<false/>
	<key>404</key>
	<false/>
	<key>406</key>
	<false/>
	<key>407</key>
	<false/>
	<key>408</key>
	<false/>
	<key>411</key>
	<false/>
	<key>412</key>
	<false/>
	<key>413</key>
	<false/>
	<key>414</key>
	<false/>
	<key>420</key>
	<false/>
	<key>421</key>
	<false/>
	<key>422</key>
	<false/>
	<key>423</key>
	<false/>
	<key>424</key>
	<false/>
	<key>426</key>
	<false/>
	<key>427</key>
	<false/>
	<key>428</key>
	<false/>
	<key>429</key>
	<false/>
	<key>432</key>
	<false/>
	<key>433</key>
	<false/>
	<key>434</key>
	<false/>
	<key>435</key>
	<false/>
	<key>436</key>
	<false/>
	<key>437</key>
	<false/>
	<key>438</key>
	<false/>
	<key>439</key>
	<false/>
	<key>500</key>
	<false/>
	<key>502</key>
	<false/>
	<key>503</key>
	<false/>
	<key>504</key>
	<false/>
	<key>505</key>
	<false/>
	<key>506</key>
	<false/>
	<key>507</key>
	<false/>
	<key>508</key>
	<false/>
	<key>509</key>
	<false/>
	<key>510</key>
	<false/>
	<key>511</key>
	<false/>
	<key>512</key>
	<false/>
	<key>513</key>
	<false/>
	<key>514</key>
	<false/>
	<key>515</key>
	<false/>
	<key>516</key>
	<false/>
	<key>520</key>
	<false/>
	<key>521</key>
	<false/>
	<key>522</key>
	<false/>
	<key>523</key>
	<false/>
	<key>524</key>
	<false/>
	<key>525</key>
	<false/>
	<key>526</key>
	<false/>
	<key>527</key>
	<false/>
	<key>528</key>
	<false/>
	<key>530</key>
	<false/>
	<key>540</key>
	<false/>
	<key>541</key>
	<false/>
	<key>542</key>
	<false/>
	<key>544</key>
	<false/>
	<key>545</key>
	<false/>
	<key>546</key>
	<false/>
	<key>551</key>
	<false/>
	<key>552</key>
	<false/>
	<key>553</key>
	<false/>
	<key>555</key>
	<false/>
	<key>556</key>
	<false/>
	<key>557</key>
	<false/>
	<key>558</key>
	<false/>
	<key>600</key>
	<false/>
	<key>602</key>
	<false/>
	<key>603</key>
	<false/>
	<key>604</key>
	<false/>
	<key>605</key>
	<false/>
	<key>606</key>
	<false/>
	<key>607</key>
	<false/>
	<key>608</key>
	<false/>
	<key>611</key>
	<false/>
	<key>612</key>
	<false/>
	<key>613</key>
	<false/>
	<key>614</key>
	<false/>
	<key>615</key>
	<false/>
	<key>616</key>
	<false/>
	<key>621</key>
	<false/>
	<key>622</key>
	<false/>
	<key>623</key>
	<false/>
	<key>624</key>
	<false/>
	<key>625</key>
	<false/>
	<key>630</key>
	<false/>
	<key>631</key>
	<false/>
	<key>632</key>
	<false/>
	<key>633</key>
	<false/>
	<key>634</key>
	<false/>
	<key>635</key>
	<false/>
	<key>636</key>
	<false/>
	<key>637</key>
	<false/>
	<key>638</key>
	<false/>
	<key>640</key>
	<false/>
	<key>643</key>
	<false/>
	<key>646</key>
	<false/>
	<key>647</key>
	<false/>
	<key>648</key>
	<false/>
	<key>649</key>
	<false/>
	<key>651</key>
	<false/>
	<key>652</key>
	<false/>
	<key>653</key>
	<false/>
	<key>654</key>
	<false/>
	<key>655</key>
	<false/>
	<key>700</key>
	<false/>
	<key>701</key>
	<false/>
	<key>702</key>
	<false/>
	<key>704</key>
	<false/>
	<key>708</key>
	<false/>
	<key>709</key>
	<false/>
	<key>710</key>
	<false/>
	<key>711</key>
	<false/>
	<key>712</key>
	<false/>
	<key>713</key>
	<false/>
	<key>714</key>
	<false/>
	<key>715</key>
	<false/>
	<key>716</key>
	<false/>
	<key>717</key>
	<false/>
	<key>718</key>
	<false/>
	<key>719</key>
	<false/>
	<key>720</key>
	<false/>
	<key>721</key>
	<false/>
	<key>722</key>
	<false/>
	<key>723</key>
	<false/>
	<key>724</key>
	<false/>
	<key>725</key>
	<false/>
	<key>726</key>
	<false/>
	<key>727</key>
	<false/>
	<key>730</key>
	<false/>
	<key>731</key>
	<false/>
	<key>732</key>
	<false/>
	<key>733</key>
	<false/>
	<key>734</key>
	<false/>
	<key>735</key>
	<false/>
	<key>736</key>
	<false/>
	<key>737</key>
	<false/>
	<key>741</key>
	<false/>
	<key>742</key>
	<false/>
	<key>743</key>
	<false/>
	<key>744</key>
	<false/>
	<key>745</key>
	<false/>
	<key>800</key>
	<false/>
	<key>801</key>
	<false/>
	<key>802</key>
	<false/>
	<key>803</key>
	<false/>
	<key>804</key>
	<false/>
	<key>805</key>
	<false/>
	<key>806</key>
	<false/>
	<key>807</key>
	<false/>
	<key>811</key>
	<false/>
	<key>812</key>
	<false/>
	<key>813</key>
	<false/>
	<key>814</key>
	<false/>
	<key>815</key>
	<false/>
	<key>820</key>
	<false/>
	<key>821</key>
	<false/>
	<key>822</key>
	<false/>
	<key>823</key>
	<false/>
	<key>824</key>
	<false/>
	<key>825</key>
	<false/>
	<key>826</key>
	<false/>
	<key>827</key>
	<false/>
	<key>828</key>
	<false/>
	<key>829</key>
	<false/>
	<key>830</key>
	<false/>
	<key>831</key>
	<false/>
	<key>832</key>
	<false/>
	<key>833</key>
	<false/>
	<key>840</key>
	<false/>
	<key>842</key>
	<false/>
	<key>843</key>
	<false/>
	<key>844</key>
	<false/>
	<key>845</key>
	<false/>
	<key>846</key>
	<false/>
	<key>847</key>
	<false/>
	<key>848</key>
	<false/>
	<key>849</key>
	<false/>
	<key>851</key>
	<false/>
	<key>852</key>
	<false/>
	<key>880</key>
	<false/>
	<key>881</key>
	<false/>
	<key>882</key>
	<false/>
	<key>883</key>
	<false/>
	<key>884</key>
	<false/>
	<key>885</key>
	<false/>
	<key>890</key>
	<false/>
	<key>891</key>
	<false/>
	<key>892</key>
	<false/>
	<key>893</key>
	<false/>
	<key>894</key>
	<false/>
	<key>896</key>
	<false/>
	<key>900</key>
	<false/>
	<key>901</key>
	<false/>
	<key>902</key>
	<false/>
	<key>903</key>
	<false/>
	<key>904</key>
	<false/>
	<key>905</key>
	<false/>
	<key>906</key>
	<false/>
	<key>907</key>
	<false/>
	<key>908</key>
	<false/>
	<key>909</key>
	<false/>
	<key>911</key>
	<false/>
	<key>912</key>
	<false/>
	<key>913</key>
	<false/>
	<key>920</key>
	<false/>
	<key>921</key>
	<false/>
	<key>922</key>
	<false/>
	<key>923</key>
	<false/>
	<key>924</key>
	<false/>
	<key>925</key>
	<false/>
	<key>926</key>
	<false/>
	<key>927</key>
	<false/>
	<key>928</key>
	<false/>
	<key>929</key>
	<false/>
	<key>931</key>
	<false/>
	<key>932</key>
	<false/>
	<key>940</key>
	<false/>
	<key>941</key>
	<false/>
	<key>942</key>
	<false/>
	<key>943</key>
	<false/>
	<key>944</key>
	<false/>
	<key>945</key>
	<false/>
	<key>946</key>
	<false/>
	<key>947</key>
	<false/>
	<key>950</key>
	<false/>
	<key>951</key>
	<false/>
	<key>952</key>
	<false/>
	<key>953</key>
	<false/>
	<key>954</key>
	<false/>
	<key>955</key>
	<false/>
	<key>956</key>
	<false/>
	<key>957</key>
	<false/>
	<key>958</key>
	<false/>
	<key>959</key>
	<false/>
	<key>961</key>
	<false/>
	<key>962</key>
	<false/>
	<key>963</key>
	<false/>
	<key>964</key>
	<false/>
	<key>965</key>
	<false/>
	<key>966</key>
	<false/>
	<key>970</key>
	<false/>
	<key>971</key>
	<false/>
	<key>972</key>
	<false/>
	<key>973</key>
	<false/>
	<key>974</key>
	<false/>
	<key>975</key>
	<false/>
	<key>976</key>
	<false/>
	<key>977</key>
	<false/>
	<key>978</key>
	<false/>
	<key>979</key>
	<false/>
	<key>981</key>
	<false/>
	<key>982</key>
	<false/>
	<key>983</key>
	<false/>
</dict>
</plist>
