<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>澎湖縣</key>
	<array/>
	<key>金門縣</key>
	<array/>
	<key>連江縣</key>
	<array/>
	<key>新北市</key>
	<array/>
	<key>基隆市</key>
	<array/>
	<key>桃園市</key>
	<array/>
	<key>新竹市</key>
	<array/>
	<key>新竹縣</key>
	<array/>
	<key>苗栗縣</key>
	<array/>
	<key>台中市</key>
	<array/>
	<key>彰化縣</key>
	<array/>
	<key>南投縣</key>
	<array/>
	<key>雲林縣</key>
	<array/>
	<key>嘉義縣</key>
	<array/>
	<key>嘉義市</key>
	<array/>
	<key>台南市</key>
	<array/>
	<key>高雄市</key>
	<array/>
	<key>屏東縣</key>
	<array/>
	<key>宜蘭縣</key>
	<array/>
	<key>花蓮縣</key>
	<array/>
	<key>台中縣</key>
	<array/>
	<key>台北市</key>
	<array/>
</dict>
</plist>
